script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
script(src="/socket.io/socket.io.js")
script(src='https://code.jquery.com/jquery-1.9.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/FeedEk/3.0.0/js/FeedEk.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
link(rel='StyleSheet' href="/static/style.css" type="text/css")
div(class="one_index")
	div(class="cont_logo")
		img(src="/static/img_main_file/logo_abancaycito_v1.png" class="logo")
	div(class="menu")
		a(onclick="showsing()")
			i.material-icons person_add

		a(onclick="showlog()")
			i.material-icons person
			
.container
	.d-flex.justify-content-center.h-100
		.card22
			a(onclick="clisesing()")
				i.material-icons.right close
			.card-header
			h3(class="singin") EMPEZAR A DESCUBRIR!
			p(class="singin") Podras registrar tu negocio en el portal y unirte a la comunidad de ABANCAYCITO!
			hr
			.d-flex.justify-content-end.social_icon
			span
				i.fab.fa-facebook-square
			span
				i.fab.fa-google-plus-square
			span
				i.fab.fa-twitter-square
			.card-body
				form(action="/Check_dates" method="POST")
					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons person_pin
					input.index_input.form-control(type='text', placeholder='Nombre de usuario' name="username")

					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons person
					input.index_input.form-control(type='text', placeholder='Nombre y Apellido' name="name")

					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons mail
					input.index_input.form-control(type='text', placeholder='Correo electronico' name="mail")

					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons phone
					input.index_input.form-control(type='number', placeholder='Numero de telefono' name="phone")



					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons vpn_key
					input.index_input.form-control(type='password', placeholder='password',name="password")
					br
					input.btn.float-right.login_btn(type='submit', value='empecemos')

.container2
	.d-flex.justify-content-center.h-100
		.card22
			a(onclick="clisesing2()")
				i.material-icons.right close
			.card-header
			h3(class="singin") Iniciar session
			p(class="singin") Podras vender algun producto, ofrecer trabajo y con el usuario ejecutivo tendras la ventaja de añadir un negocio!
			hr
			.card-body
				form(class="from_login" action="/login" method="POST")
					.input-group.form-group
					.input-group-prepend
					span.input-group-text
						i.material-icons mail
					input.index_input.form-control(type='text', placeholder='Correo electronico' name="mail" id="mail_input")
					br
				a.search.btn.float-right.login_btn(onclick="mail_arrow();", value='Buscar') Buscarme
div(class='_b_')
	div(class="centerme")
		a(class="btn-floating btn-large  light-blue darken-3 pulse pricipal_options" href="/tienda")
			i.material-icons shopping_cart

		a(class="btn-floating btn-large teal darken-1 pulse pricipal_options" href="/trabajo")
			i.material-icons business_center
		br
		a(class="btn-floating btn-large red darken-4 pulse pricipal_options" href="/restaurante")
			i.material-icons restaurant

		a(class="btn-floating btn-large brown darken-1 pulse pricipal_options" href="/cafe")
			i.material-icons local_cafe
	img(src="/static/img_main_file/_b_.png" class="abancaycito_logo")
.slideru
	ul
		li
			img(src='/static/img_main_file/slide1.jpg' alt='')
			p(class="first_text") Una nube es un hidrometeoro que consiste en una masa visible formada por cristales de nieve o gotas de agua microscópicas suspendidas en la atmósfera. Las nubes dispersan toda la luz visible y por eso se ven blancas. Sin embargo, a veces son demasiado gruesas o densas como para que la luz las atravieses.
		li
			img(src='/static/img_main_file/slide2.jpg' alt='')

		li
			img(src='/static/img_main_file/slide3.jpg' alt='')

		li
			img(src='/static/img_main_file/slide4.jpg' alt='')

div(class="main_card")
	h2(class="choosee")
		Que Que estas buscando?
		hr
	div(class="principal_box")
		div(class="sub_box")
			div(class="icon_box")
				a
					i.material-icons.sub_icon restaurant
				h4(class="class_content") RESTAURANTES
	div(class="principal_box_hotel")
		div(class="sub_box")
			div(class="icon_box")
				a
					i.material-icons.sub_icon hotel
				h4(class="class_content") HOTELES
	div(class="principal_box_bar")
		div(class="sub_box")
			div(class="icon_box")
				a
					i.material-icons.sub_icon local_bar
				h4(class="class_content") LICORES

	div(class="principal_box_cafe")
		div(class="sub_box")
			div(class="icon_box")
				a
					i.material-icons.sub_icon local_cafe
				h4(class="class_content") CAFE
	div(class="principal_box_trabajo")
		div(class="sub_box")
			div(class="icon_box")
				a
					i.material-icons.sub_icon business_center
				h4(class="class_content") TRABAJO

	div(class="principal_box_bienes")
		div(class="sub_box" )
			div(class="icon_box")
				a
					i.material-icons.sub_icon home
				h4(class="class_content") BIENES RAICES

div(class="restaurant_top_5")
	a(class="cerrar_section" class="btn-cerrar-popup")
		i(class="fas fa-times")
	h3(class="top_5") Mejores restaurantes

	a(class="redirect" href="/restaurante")
		i.ver.material-icons visibility
	hr
	div(class="slide_top")
	div(class="other")

div(class="restaurant_top_5_hoteles")
	a(class="cerrar_section" class="btn-cerrar-popup")
		i(class="fas fa-times")
	h3(class="top_5") Mejores hoteles

	a(class="redirect" href="/hotel")
		i.ver.material-icons visibility
	hr
	div(class="slide_top")
	div(class="other")

div(class="restaurant_top_5_bar")
	a(class="cerrar_section" class="btn-cerrar-popup")
		i(class="fas fa-times")
	h3(class="top_5") Mejores bares

	a(class="redirect" href="/licor")
		i.ver.material-icons visibility
	hr
	div(class="slide_top")
	div(class="other")

div(class="restaurant_top_5_cafe")
	a(class="cerrar_section" class="btn-cerrar-popup")
		i(class="fas fa-times")
	h3(class="top_5") Mejores cafeterias

	a(class="redirect" href="/cafe")
		i.ver.material-icons visibility
	hr
	div(class="slide_top")
	div(class="other")
div(class="noticias_div")
	i.Medium.material-icons flash_on
	h1 Ultimas noticias!
	hr
	div(class="last")
		div(id="divRss")
div(class="see")
div(class="footer")
	div(class="footer_primary")
		h5 Programador y Diseñador
		a(class="btn-floating btn-large blue-grey darken-2 pulse pricipal_options" onclick="show_master()")
			i.material-icons settings
div(class="footer")
	div(class="footer_secundary")
		h5(class="_D_") © 2020 Abancaycito, Todos los derechos reservados.
script(src='/static/slide.js')
link(rel='StyleSheet' href="/static/slide.css" type="text/css")
script(src='/static/config.js')


script(src='/static/fedd.js')
