script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
script(src='/static/carousel.js')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
script(src="/socket.io/socket.io.js")
script(src='https://code.jquery.com/jquery-1.9.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/FeedEk/3.0.0/js/FeedEk.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
link(rel='StyleSheet' href="/static/style.css" type="text/css")
div(class="one_index")
	img(src="/static/img_main_file/logo_abancaycito_v1.png" class="ppp")
	div(class="menu")


		a()
			i.material-icons home

		a(class="menu-show" href="/store")
			i.material-icons shopping_cart
	a.unreal.btn.float-right.login_btn(href="/tienda")
		i.rac.material-icons store
		p(class="rac_black") Tienda


	div(class="this_inf")
		h5 #{sold_data.description}
		p(class="inf_date") #{sold_data.date}
		p(class="inf_cat") #{sold_data.categorie}
		p(class="inf_price") #{sold_data.price}
		

script(src='/static/config.js')