.slideshow-container {
    max-width: 570px;
    max-height: 400px;
    top: 25px;
    margin-right: 40px;
    margin-left: 100px;
    background: white;
    padding: 10px;
    display: inline-block;
    box-shadow: 3px 3px 5px #3f405233;
    opacity: 1;
    color: #f3f3f3;
}

/* Hide the images by default */
.mySlides {
  display: none;
  opacity: 1;

}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    /* top: -5px; */
    width: auto;
    margin-top: -100px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 1;
}

/* Position the "next button" to the right */
.next {
    border-radius: 3px 0 0 3px;
    opacity: 1;
    /* position: absolute; */
    right: 51%;
    /* display: block;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  opacity: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 1;
}

.active, .dot:hover {
  background-color: #717171;
  opacity: 1;
}

/* Fading animation */
.fade {
  opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3000.5s ;
  animation-name: fade;
  animation-duration: 3000.5s;
  width: 55% !important;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}